APP_ENV=local
PORT=8080
PRODUCTION_ENV=

DB_ADDRESS=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_NAME=

RABBIT_HOST=
RABBIT_PORT=
RABBIT_USERNAME=
RABBIT_PASSWORD=

REDIS_ADDRESS=
REDIS_PASSWORD=
REDIS_DATABASE=

JWT_SECRET_KEY=
JWT_TIMEOUT=